@import url('https://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic');
body {
  font-family: "PT Sans";
  text-transform: uppercase;
  line-height: 1.5;
}

p,
span {
  font-size: 14px;
}

.page-header {
  width: 100%;
}

.main-menu {
  width: inherit;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-menu-container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.page-header-logo {
  margin-top: -35px;
  cursor: pointer;
}

.main-menu-wrapper {
  width: 100%;
  height: 22px;
  background-color: white;
  width: 100%;
}

.main-menu ul {
  padding: 0px;
  margin-top: 5px;
}

.main-menu li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.main-menu a {
  text-decoration: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
}

.main-menu a:link {
  color: black;
}

.main-menu a:visited {
  color: black;
}

.main-menu a:hover {
  color: #81b3d2;
}

.main-menu a:active {
  color: #cacaca;
}

.intro-picture {
  background:
  url("https://s8.hostingkartinok.com/uploads/images/2018/03/c898b0becf0a9383eeb43ebed2b68e19.jpg");
  background-position: top;
  margin-bottom: 50px;
  background-size: cover;
}

.welcome {
  background:
  url("https://cdn1.savepice.ru/uploads/2018/3/16/f6a548fdac51b92b74fe9f553b100bf9-full.png") no-repeat center;
  height: 507px;
  width: auto;
  background-size: 540px;
  background-position: bottom;
}

.clipping-mask {
  background:
  url("https://cdn1.savepice.ru/uploads/2018/3/16/928c3456832c0ede3f6df3f13683b540-full.png") no-repeat;
  background-position: bottom;
  background-size: 100% 56px;
  padding: 56px;
  margin-top: 0px;
}

.advantages-large-1 {
  width: 100%;
  display: flex;
}

.advantages-large-1 .advantages-text-block {
  background-color: #81b3d2;
  height: 231px;
  width: 33%;
  text-align: center;
  color: white;
  padding-top: 25px;
  margin-top: 54px;
  margin-top: 0px;
  min-width: 190px;
  flex-grow: 1;
}

.advantages-large-1 h3 {
  font-size: 21px;
  font-weight: 700;
  height: 15px;
  margin-bottom: 52px;
  line-height: 21px;
}

.advantages-large-1 span {
  font-size: 14px;
}

.advantages-large-1 p {
  font-size: 14px;
  margin-top: 21px;
  line-height: 21px;
}

.advantages-large-1 .advantages-image-block {
  float: right;
  background-size: cover;
  min-width: 700px;
  flex-grow: 10;
}

.intro h2 {
  font-weight: bold;
  font-size: 21px;
  text-align: center;
}

.intro p {
  text-align: center;
  font-size: 14px;
  margin-top: 31px;
}

.advice {
  clear: both;
  flex-direction: row;
}

.advice-list {
  width: 100%;
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
}

.advice-item:nth-child(1) {
  background-image: url("https://thumb.ibb.co/hMUrkH/advice_icon_1.png");
  background-repeat: no-repeat;
  background-position: top;
}

.advice-item {
  min-height: 170px;
  list-style: none;
  text-align: center;
  padding-top: 70px;
  margin-top: 60px;
}

.advice-item:nth-child(2) {
  background-image: url("https://thumb.ibb.co/jGS0ec/advice_icon_2.png");
  background-repeat: no-repeat;
  background-position: top;
}

.advice-item:nth-child(3) {
  background-image: url("https://thumb.ibb.co/bLNBkH/advice_icon_3.png");
  background-repeat: no-repeat;
  background-position: top;
}

.advantages-large-2 {
  width: 100%;
  display: flex;
}

.advantages-large-2 .advantages-image-block {
  background-size: cover;
  min-width: 700px;
  flex-grow: 3;
}

.advantages-large-2 .advantages-text-block {
  background-color: #81b3d2;
  height: 231px;
  width: 33%;
  text-align: center;
  color: white;
  padding-top: 25px;
  margin-top: 54px;
  margin-top: 0px;
  min-width: 190px;
  float: right;
  flex-grow: 1;
}

.advantages-large-2 h3 {
  font-size: 21px;
  font-weight: bold;
}

.advantages-large-2 span,
.advantages-large-2 p {
  font-size: 14px;
}

.advantages-list {
  width: 100%;
  list-style: none;
  margin: 0px;
  margin-top: -5px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  background-color: #eeeeee;
  height: 256px;
}

.advantages-item {
  min-height: 170px;
  list-style: none;
  text-align: center;
  padding-top: 0px;
  margin-top: 0px;
  padding-top: 30px;
}


.interested-in-caption {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.interested-in-caption h2 {
  font-size: 30px;
}

.interested-in-caption p {
  font-size: 14px;
}

.interested-in-caption button {
  width: 568px;
  height: 86px;
  background-color: #766357;
  border: none;
  color: white;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
}

.interested-in-caption button:hover {
  background-color: #604e43;
}

.interested-in-caption button:active {
  background-color: #503e33;
  color: #928a85;
}

.trip-info {
  width: 458px;
  height:396px;
  top: 2135px;
  left: 476px;
  background-color: white;
  padding-left: 55px;
  padding-right: 55px;
  margin-top: 10px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.5);
  margin: auto;
  z-index: 10;
  margin-top: -600px;
  display: none;
}

@keyframes slide-right {
  0% {
    transform: translateX(-2000px);
  }

  100% {
    transform: translateX(0);
  }
}

.trip-info-show {
  display: block;
  animation: slide-right 0.6s;
}

#trip-info-arrival-date {
  margin-top: 55px;
  margin-left: 18px;
  width: 322px;
  background-color: #f2f2f2;
  border: none;
  height: 37px;
  padding-left: 12px;
}

.trip-info-1-label {
  height: 37px;
  font-size: 14px;
}

.calendar-1,
.calendar-2 {
  background-image: url("https://cdn1.savepice.ru/uploads/2018/3/29/7d85948272b5c97b5b40ff7db0c7205a-full.png");
  background-repeat: no-repeat;
  background-position: 300px center;
}

.calendar-1:hover,
.calendar-2:hover {
  background-image: url("https://svgshare.com/i/62T.svg");
}



#trip-info-departure-date {
  margin-top: 30px;
  margin-left: 13px;
  width: 325px;
  background-color: #f2f2f2;
  border: none;
  height: 37px;
  padding-left: 12px;
}

.trip-info-2-label {
  font-size: 14px;
}

.trip-info-num-wrapper {
  margin-top: 30px;
}

.trip-info span {
  display: block;
}

.trip-info button:hover {
  background-color: #669ec0;
}

.trip-info button:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.children {
  margin-top: -40px;
}

#trip-info-adults-quantity {
  text-align: center;
  width: 114px;
  height: 37px;
  border: none;
  margin-left: 30px;
  background:
   url("https://cdn1.savepice.ru/uploads/2018/3/30/e1ee43548c5bd3e6d5938126c964ff61-full.png") no-repeat 12px center,
   url("https://cdn1.savepice.ru/uploads/2018/3/30/970654831a986bc3d66667bf87e004be-full.png") no-repeat 90px center,
   #f2f2f2;
}

#trip-info-adults-quantity:hover,
#trip-info-children-quantity:hover {
  background:
  url("https://cdn1.savepice.ru/uploads/2018/3/30/661d131f78c6d0895642d7bcce82ca11-full.png") no-repeat 12px center,
  url("https://cdn1.savepice.ru/uploads/2018/3/30/07cc642c70426ff099dd9873bd71da68-full.png") no-repeat 90px center,
  #ebebeb;
}

#trip-info-adults-quantity:active,
#trip-info-children-quantity:active {
  background:
  url("https://cdn1.savepice.ru/uploads/2018/3/30/675cf9c75a1227db881c65ea9d893c95-full.png") no-repeat 12px center,
  url("https://cdn1.savepice.ru/uploads/2018/3/30/761d0123562c2ca39082d31aa3436d7d-full.png") no-repeat 90px center,
  white;
}

.trip-info-3-label {
  vertical-align: middle;
  font-size: 14px;
}

.adults {
  display: inline;
}

.children {
  float: right;
}

.trip-info-4-label {
  vertical-align: middle;
  font-size: 14px;
}

#trip-info-children-quantity {
  text-align: center;
  width: 114px;
  height: 37px;
  background-color: #f2f2f2;
  border: none;
  margin-right: 13px;
  margin-left: 30px;
  background:
   url("https://cdn1.savepice.ru/uploads/2018/3/30/e1ee43548c5bd3e6d5938126c964ff61-full.png") no-repeat 12px center,
   url("https://cdn1.savepice.ru/uploads/2018/3/30/970654831a986bc3d66667bf87e004be-full.png") no-repeat 90px center,
   #f2f2f2;
}

.trip-info button {
  width: 445px;
  height: 58px;
  background-color: #81b3d2;
  color: white;
  border: none;
  font-size: 21px;
  font-weight: bold;
  margin-top: 54px;
}

.page-footer {
  height: 121px;
  position: absolute;
  width: 100%;
  top: 2780px;
}

.map {
  background-image: url("https://cdn1.savepice.ru/uploads/2018/3/27/1f221dc523bba4b851e5d682776b8dd5-full.jpg");
  height: 600px;
  background-size: 100% 600px;
  background-repeat: no-repeat;
}

.social a {
  color: transparent;
}

.social {
  width: 150px;
  display: flex;
  justify-content: space-around;

}

.footer-wrapper {
  display:flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  padding-left: 20px;
  height: 81px;
  padding-top: 40px;
}

.hashtag {
  width: 300px;
}

.hashtag a {
  text-decoration: none;
  color: black;
  font-size: 21px;
  font-weight: bold;
  display: block;
  margin-top: 13px;
}

.twitter-icon,
.facebook-icon,
.youtube-icon {
  padding: 11px;
  background-position: center;
  margin-top: 7px;
}

.facebook-icon {
  margin-left: 3px;
}

.twitter-background,
.facebook-background,
.youtube-background {
  background-color: #81b3d2;
  width: 40px;
  height: 40px;
  margin-left: -150px;
}

a:active #twitter,
a:active #facebook,
a:active #youtube {
  fill: #88b6d1;
}

a:active .twitter-background,
a:active .facebook-background,
a:active .youtube-background {
  background-color: #5496bd;
}

a:hover .twitter-background,
a:hover .facebook-background,
a:hover .youtube-background {
  background-color: #669ec0;
}

.html-academy-icon {
  background: url("https://svgshare.com/i/5tt.svg") no-repeat;
  width: 115px;
  height: 41px;
  float: right;
}

.html-academy-logo {
  width: 210px;
  margin-right: 40px;
}

.html-academy-logo p {
  margin-bottom: -25px;
  color: black;
}

.html-academy-logo a {
  text-decoration: none;
}

a:hover .html-academy-icon {
  background: url("https://s8.hostingkartinok.com/uploads/images/2018/03/1fe06512982ce07665473f989ce25e76.png") no-repeat;
}

a:active .html-academy-icon {
  background: url("https://s8.hostingkartinok.com/uploads/images/2018/03/a07843aa87369c6f9e48a512f8d38e27.png") no-repeat;
}

a:hover .btn-submit {
  background-color: #669ec0;
}

a:active .btn-submit {
  color: #94b9d2;
  background-color: #5496bd;
}

div:hover #trip-info-arrival-date,
div:hover #trip-info-departure-date,
div div:hover #trip-info-adults-quantity,
div div:hover #trip-info-children-quantity {
  background-color: #ebebeb
}

div:active #trip-info-arrival-date,
div:active #trip-info-departure-date {
  background-color: white;
  border: 1px solid #ebebeb;
  width: 320px;
  height: 35px;
  background-image: url("https://cdn1.savepice.ru/uploads/2018/3/29/01c5d449b6e74438eba5601c9769bc74-full.png");
}

div div:active #trip-info-adults-quantity,
div div:active #trip-info-children-quantity {
  background-color: white;
  border: 1px solid #ebebeb;
  width: 112px;
  height: 35px;
}

.page-footer-catalog {
  border-top: 1px solid #e5e5e5;
}

label.visual-checkbox {
 width: 32px;
 height: 26px;
 display: block;
 position: relative;
}

input[type="checkbox"] + span {
 position: absolute;
 left: 0; top: 0;
 width: 100%; height: 100%;
 background: url("https://svgshare.com/i/5uR.svg") no-repeat;
 cursor: pointer;
 margin-left: 5px;
}

.filter-background {
  background: url("https://s8.hostingkartinok.com/uploads/images/2018/03/9b39f262eef7dbcf48227050ac4ef415.jpg") no-repeat;
  width: 100%;
  background-size: 100% auto;
  margin-top: -25px;
  color: white;
  margin-top: 0px;
  height: 217px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + span {
  background: url("https://svgshare.com/i/5sq.svg") no-repeat;
}

.visual-checkbox  p{
  display: block;
  margin-left: 40px;
  margin-bottom: 20px;
  color: white;
}

.filter-caption {
  color: white;
  font-size: 16px;
  cursor: default;
}
 span.active {
   color: #766357;
   font-weight: bold;
 }

.infrostructure {
  display: inline-block;
  margin-left: 72px;
}

.type {
  display: inline-block;
  margin-left: 158px;
}

div .label-for-slider {
  cursor: default;
}

.slider-section {
  display: inline;
  float: right;
  text-align: center;
  margin-right: 72px;
}

.slider {
  width: 318px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 20px;
}

.label-for-slider {
  border: 2px solid white;
  border-radius: 3px;
  padding: 4px;
}

span.from-value {
  border-right: 1px solid white;
  padding-right: 67px;
}

span.to-value {
  padding-left: 53px;
}

.interval {
  background-color: white;
  height: 100%;
  width: 245px;
}

.slider span.from {
  right: 385px;
}

.slider span.from:hover {
  right: 384px;
  height: 24px;
}

.slider span {
  background: url("http://www.picshare.ru/uploads/180324/167fF5341A.png") no-repeat;
  height: 22px;
  width: 20px;
  position: absolute;
  top: 175px;
}

.slider span.to {
  right: 150px;
}

.slider span.to:hover {
  right: 149px;
  height: 24px;
}

.slider span:hover {
  background: url("http://www.picshare.ru/uploads/180324/CFQw0CAiRt.png") no-repeat;
  width: 22px;
  top: 174px;
}

.search-options {
  border-bottom: 1px solid #e5e5e5;
}

.search-options-caption {
  display: inline;
  font-size: 21px;
  margin-left: 75px;
}

.sort-by {
  display: flex;
  margin-left: 50px;
  width: 370px;
  justify-content: space-between;
}

.show{
  border: 2px solid white;
  border-radius: 3px;
  background-color: transparent;
  color: white;
  width: 133px;
  font-size: 14px;
  height: 32px;
  margin-top: 32px;
}

button.show:hover {
  background-color: white;
  color: black;
}

.search-options-text-wrapper {
  display: flex;
  align-items: center;
}

.sort-by a {
  text-decoration: underline dotted #95bed8;
  color: #cacaca;
}

.sort-by a:hover {
  color: #95bed8;
}
.sort-by a:active {
  color: black;
  text-decoration: none;
}

.sort-by .active{
  color: black;
  cursor: default;
  text-decoration: none;
}

.sort-by {
  font-size: 12px;
}

.sort-by .active:hover {
  color: black
}

.icon-down-img {
  width: 11px;
  height: 11px;
  cursor: pointer;
}

#icon-down {
  fill: #cacaca;
}

#icon-down:hover {
  fill: #231f20;
}

#icon-down:active {
  fill: #81b3d2;
}

.icon-up {
  width: 11px;
  height: 11px;
  cursor: default;
  margin-left:
}

#icon-up-img {
  fill: #81b3d2;
}

.storing-buttons {
  width: 35px;
  display: inline;
  float: right;
  margin-top: -50px;
  margin-right: 30px;
}

.hotel-list {
  list-style: none;
  margin-left: -40px;
}

.info h4 {
  font-size: 21px;
}

.info {
  margin-left: 200px;
}
.hotel img{
  display: inline-block;
  float: left;
}

span.position-2-1 {
  padding-left: 38px;
}

span.position-2-2 {
  padding-left: 67px;
}

span.position-2-3 {
  padding-left: 23px;
}

.hotel {
  border-bottom: 1px solid #e5e5e5;
  padding-left: 72px;
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 14px;
}

.info div.btn {
  margin-top: 20px;
}

.info a.btn-1 {
  height: 22px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  background-color: #81b3d2;
  width: 105px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.info a.btn-1:hover {
  background-color: #669ec0;
}

.info a.btn-1:active {
  background-color: #5496bd;
  color: #85b0cd;
}

.info {
  margin-top: -40px;
  padding-top: 0px;
}

div.span-wrapper {
  margin-top: -20px;
}

.info a.btn-2 {
  height: 22px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  background-color: #766357;
  width: 142px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.info a.btn-2:hover {
  background-color: #604e43;
}

.info a.btn-2:active {
  background-color: #503e33;
  color: #928a85;
}

.rating {
  display: block;
  float: right;
  margin-top: -100px;
  margin-right: 75px;
}

.rating p {
  background-color: #f2f2f2;
  color: #939393;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 50px;
}

.stars-1 {
  background-image: url("https://svgshare.com/i/5ya.svg");
  background-repeat: repeat-x;
  padding-right: 75px;
  margin-left: 15px;
}

.stars-2 {
  background-image: url("https://svgshare.com/i/5ya.svg");
  background-repeat: repeat-x;
  padding-right: 55px;
  margin-left: 35px;
}

.stars-3 {
  background-image: url("https://svgshare.com/i/5ya.svg");
  background-repeat: repeat-x;
  padding-right: 38px;
  margin-left: 50px;
}

li.hotel:nth-child(3) {
  border: none;
}
